<div class="widget-content nopadding">
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">序号</th>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">工作令</th>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">检验单类型</th>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">编号</th>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">订货合同号</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr iid="{{item.id}}" class="tr_materiel">
                <td>{{forloop.counter}}</td>
                {% include "techdata/widgets/auxiliary_material_row.html" %}
            </tr>   
            {% endfor %}
        </tbody>
    </table>
</div>
