<form id="materiel_report_form">
    <div class="row-fluid">
        <div class="span6">
            <div class="input-prepend">
                <span class="add-on">检验项目：</span>
                <input type="text" class="input-xlarge" value="" />
            </div>
        </div>
        <div class="span6">
            <div class="input-prepend">
                <span class="add-on">规定值：</span>
                <input type="text" class="input-xlarge" value="" />
            </div>
        </div>
    </div>
</form>
