<div class="widget-content nopadding">
    <table class="table table-bordered table-striped" id="processing_table" style="width:100%">
        <thead>
            <tr>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">序号</th>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">检验项目</th>
                <th class="fix_th" rowspan="1" style="vertical-align: middle">规定值</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr iid="" class="tr_const">
                <td>1</td>
                <td>高度mm</td>
                <td>1200</td>
                <td>
                    <button type="button" class="btn btn-danger">删除</button>
                </td>
            </tr> 
            <tr iid="" class="tr_const">
                <td>2</td>
                <td>半径</td>
                <td>300</td>
                <td>
                    <button type="button" class="btn btn-danger">删除</button>
                </td>
            </tr> 
            <tr iid="" class="tr_const">
                <td>3</td>
                <td>契合缝</td>
                <td>0.05</td>
                <td>
                    <button type="button" class="btn btn-danger">删除</button>
                </td>
            </tr> 
        </tbody>
    </table>
</div>
