<ul>
    <li><a href="/quality/const">检验项目录入</a></li>
    <li><a href="/quality/materiel">材料检验</a></li>
    <li><a href="/quality/processing">工序检验</a></li>
    <li><a href="/quality/feeding">零件投料检验</a></li>
    <li><a href="/quality/barrel">封头/筒体检验</a></li>
    <li><a href="/quality/assemble">装配检验</a></li>
    <li><a href="/quality/pressure">压力试验检验</a></li>
    <li><a href="/quality/facade">压力容器外观试验检验</a></li>
    <li><a href="/quality/final">最终检验</a></li>
    <li><a href="/quality/unpass">不合格品管理</a></li>
</ul>

