<div class="progress_block progress_head">
    <div class="progress_inner"><span>下法兰</span></div>
    <div class="progress_inner"><span>生产进度条</span></div>
    <div class="progress_inner"><span>质检进度条</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L1</span></div>
    <div class="progress_inner product"><span>2015-11-05</span></div>
    <div class="progress_inner inspect"><span>2015-11-07</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L2</span></div>
    <div class="progress_inner product"><span>2015-11-08</span></div>
    <div class="progress_inner inspect"><span>2015-11-11</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L3</span></div>
    <div class="progress_inner product"><span>2015-11-15</span></div>
    <div class="progress_inner inspect"><span>2015-11-16</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L4</span></div>
    <div class="progress_inner product"><span>2015-11-18</span></div>
    <div class="progress_inner inspect"><span>2015-11-19</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L5</span></div>
    <div class="progress_inner product"><span>2015-11-22</span></div>
    <div class="progress_inner"><span>&nbsp;</span></div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="progress_block progress_head">
    <div class="progress_inner"><span>下法兰</span></div>
    <div class="progress_inner"><span>生产进度条</span></div>
    <div class="progress_inner"><span>质检进度条</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L1</span></div>
    <div class="progress_inner product"><span>2015-11-05</span></div>
    <div class="progress_inner inspect"><span>2015-11-07</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L2</span></div>
    <div class="progress_inner product"><span>2015-11-08</span></div>
    <div class="progress_inner inspect"><span>2015-11-11</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L3</span></div>
    <div class="progress_inner product"><span>2015-11-15</span></div>
    <div class="progress_inner inspect"><span>2015-11-16</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L4</span></div>
    <div class="progress_inner product"><span>2015-11-18</span></div>
    <div class="progress_inner inspect"><span>2015-11-19</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L5</span></div>
    <div class="progress_inner product"><span>2015-11-22</span></div>
    <div class="progress_inner inspect"><span>2015-11-25</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L6</span></div>
    <div class="progress_inner product"><span>2015-11-26</span></div>
    <div class="progress_inner inspect"><span>2015-11-27</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L7</span></div>
    <div class="progress_inner product"><span>2015-11-28</span></div>
    <div class="progress_inner"><span>&nbsp;</span></div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="progress_block progress_head">
    <div class="progress_inner"><span>下法兰</span></div>
    <div class="progress_inner"><span>生产进度条</span></div>
    <div class="progress_inner"><span>质检进度条</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L1</span></div>
    <div class="progress_inner product"><span>2015-11-05</span></div>
    <div class="progress_inner inspect"><span>2015-11-07</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L2</span></div>
    <div class="progress_inner product"><span>2015-11-08</span></div>
    <div class="progress_inner inspect"><span>2015-11-11</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L3</span></div>
    <div class="progress_inner product"><span>2015-11-15</span></div>
    <div class="progress_inner inspect"><span>2015-11-16</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L4</span></div>
    <div class="progress_inner product"><span>2015-11-18</span></div>
    <div class="progress_inner inspect"><span>2015-11-19</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L5</span></div>
    <div class="progress_inner product"><span>2015-11-22</span></div>
    <div class="progress_inner inspect"><span>2015-11-25</span></div>
</div>
<div class="progress_block">
    <div class="progress_inner"><span>L6</span></div>
    <div class="progress_inner product"><span>2015-11-26</span></div>
    <div class="progress_inner"><span>&nbsp;</span></div>
</div>
<style>
    .progress_block {
        text-align: center;
        width: 100px;
        float: left;
    }
    .progress_head {
        margin-right:10px;
    }
    .progress_inner {
        border: 1px solid black;
    }
    .product {
        background-color: green;
    }
    .inspect {
        background-color: yellow;
    }
</style>
