{% extends "quality/base/none_nav_base.html" %}

{% block title%}
<h1>工序检验</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">工序检验</a>
{% endblock %}

{% block inner_content %}
<form class="form-search">
    工作令：
    <span id="order_span">{{ form.work_order }}</span>
    <span id="sub_order_span">{{ sub_order_form.sub_work_order }}</span>
    <span class="btn" id="order_search">检索</span>
</form>
<div id="div_report" id_work_order="{{work_order.id}}">
</div>
<br/>
<form>
    <div class="well">
    {% include "quality/widgets/report/processing_report.html" %}
    </div>
</form>
<br/>
<div id="processing_items_table">
    {% include "quality/tables/items/processing_items_table.html" %}
</div>
<br/>
<div class="row-fluid">
    <div class="span3" style="float:right">
        <center>
            <button type="button" class="btn btn-danger unpass" cate="scrap">新增报废品单</button>
        </center>
    </div>
    <div class="span2" style="float:right">
        <center>
            <button type="button" class="btn btn-warning unpass" cate="repair">新增退修单</button>
        </center>
    </div>
    <div class="span2" style="float:right">
        <center>
            <button type="button" class="btn btn-primary unpass" cate="unquality">新增不合格品单</button>
        </center>
    </div>
</div>

<div class="modal fade" id="processing_modal" modal-size-width="0.8">
    <div class="modal-header">
        <h2>工序检验</h2>
    </div>
    <div class="modal-body">
        {% include "quality/forms/items/inspect_item_form.html" %}
        {% include "quality/forms/items/processing_form.html" %}
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_item_change">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="save_item_form">保存</button>
      </div>
</div>
<div class="modal fade" id="processing_report_modal" modal-size-width="0.8">
    <div class="modal-header">
        <h2>工序检验报告单</h2>
    </div>
    <div class="modal-body">
        {% include "quality/forms/reports/inspect_report_form.html" %}
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_report_change">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="save_report_form">保存</button>
      </div>
</div>
<script type='text/javascript' src="{{ STATIC_URL  }}jquery/jquery.form.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/quality/processItems.js"></script>
{% endblock %}
